.hero {
    background: url('fon.jpg') no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    color: black;
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #9b9b9b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cities {
    margin-bottom: 40px;
}

.city-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.city {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.popular-products .products {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

.product img {
    height: 60%;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
}